{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Data Kelompok
                <a href="{% url 'tambah_penerbit' %}" class="btn btn-primary">Tambah</a>
            </h3>
            <br> {% for message in messages %} {% if message %}
            <div class="alert alert-success">{{ message }}</div>
            {% endif %} {% endfor %}
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>NAMA</th>
                        <th>KELOMPOK</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    {% for penerbit in penerbits %}
                    <tr>
                        <td><a href="{% url 'ubah_penerbit' penerbit.id %}">{{ penerbit.nama }}</a></td>
                        <td>{{ penerbit.keterangan }}</td>
                        <td>
                            <button data-toggle="modal" data-target="#hapus-{{  penerbit.id }}" class="btn btn-danger">Hapus</button>
                        </td>

                        <div class="modal" id="hapus-{{ penerbit.id }}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="modal-title">
                                            <h3>Hapus</h3>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        Apakah anda yakin ingin menghapus <strong>{{ penerbit.nama | upper }}</strong>?
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{% url 'hapus_penerbit' penerbit.id %}" class="btn btn-danger">Hapus</a>
                                        <button class="btn btn-dark" data-dismiss="modal">Tidak</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}